body{
	background-color: lightgray;
}

.naglowek{
	height: 50px;

}

.d01{
	height: 40px;

}
.d02{
	height: 40px;

}
.d03{
	height: 40px;

}
.d04{
	height: 40px;

}
.d05{
	height: 40px;

}
.d06{
	height: 40px;

}
.d07{
	height: 40px;

}
.d08{
	height: 40px;

}
.d08 img{
	height: 100%;
	border-radius: 25%; 
	margin-left: 50%;
}
.d09{
	height: 47px;

}
.d09 div{
	width:50%;

}
.d10{
	height: 40px;

}
.d11{
	height: 40px;

}
.d12{
	height: 40px;
	background-color: black;
	color: pink;
}
.d13{
	height: 40px;

}
@keyframes animacjamb {
	0% {background-color: red; font-size:10px;}
	25% {background-color: yellow; font-size:15px;}
	50% {background-color: green; font-size:20px;}
	75% {background-color: blue; font-size:25px;}
	100% {background-color: purple; font-size:30px;}
}
.d14{
	height: 40px;
	background-color: red;
	animation-name: animacjamb;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	border:1px solid gray;
	border-radius: 10px;
	text-align: center;
	padding-top: 5px;
	font-family: monospace;
}
.d15{
	height: 40px;
	background-color: red;
	font-family: cursive;
	font-weight: bold;
	text-decoration: none;
}
.pope{
	height:40px;
}
.d16{
	height: 40px;
	background-color: beige; color: black;
	font-weight: bold; text-decoration: line-through;
}
.d17{
	height: 40px;
	background-color: bisque;
	color:maroon;
}
.d18{
	height: 40px;
}
.d19{
	height: 40px;

}



.stopka{
	height: 40px;


}
